:root {
    --primary-color: #000000;
    --secondary-color: #FFFDD0;
    --third-color: #B2AC88;
    --fourth-color: #9C92B0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fourth-color);
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100%;
}

header {
    padding: 20px 35px;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9001;
}


header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    display: inline;
    text-shadow: 0 0 10px rgb(0,0,0)
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.hero-banner {
    justify-content: left;
    flex-wrap: wrap;
}

.hero-banner h2 {
    font-size: 25px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0);
}
/* hero end */

.about h2 {
    position: absolute;
    top: 150px;
    left: 400px;
    font-weight: bolder;
}

.about p {
    position: absolute;
    top: 200px;
    left: 400px;
    font-size: 20px;
    text-align: center;
}

.projects {
    position: absolute;
    top: 500px;
    left: 600px;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.projects h2 {
    justify-content: center;
    margin: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.projects:hover {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    border-radius: 15px;
    text-shadow: none;
}


/* footer */

footer h2 {
    position: fixed;
    bottom: 0%;
}
footer div {
    position: fixed;
    bottom: 0%;
    left: 20%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  





