:root {
    --primary-color: #F1BE6C;
    --secondary-color: #FCF2E2;
    --third-color: #978C7C;
    --fourth-color: #F16C9F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--third-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
}


header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: var(--third-color);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}


header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: var(--third-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--third-color);
}

.hero-banner {
    height: 800px;
    width: auto;
    background-image: url(/assets/images/lake-and-trees.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero